<h1>
  Edit attendee #<%= @attendee.id %>
</h1>

<hr>

<form action="/update_attendee/<%= @attendee.id %>" method="post">

  <div class="form-group">
    <label for="meeting_id">
      Meeting
    </label>

    <%= select_tag(:meeting_id, options_from_collection_for_select(Meeting.all, :id, :id, @attendee.meeting_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="connection_id">
      Connection
    </label>

    <%= select_tag(:connection_id, options_from_collection_for_select(Connection.all, :id, :company_id, @attendee.connection_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update attendee
  </button>
</form>

<hr>

<a href="/attendees">
  Go back
</a>
