<h1>
  Add a new attendee
</h1>


<hr>

<!-- Form attendee start -->
<form action="/create_attendee" method="post">
<!-- Form attendee end -->

  <!-- Label and input for meeting_id start -->
  <div class="form-group">
    <label for="meeting_id">
      Meeting
    </label>

    <!-- Input for meeting_id start -->
    <input type="text" id="meeting_id" name="meeting_id" class="form-control">
    <!-- Input for meeting_id end -->
  </div>
  <!-- Label and input for meeting_id end -->

  <!-- Label and input for connection_id start -->
  <div class="form-group">
    <label for="connection_id">
      Connection
    </label>

    <!-- Input for connection_id start -->
    <input type="text" id="connection_id" name="connection_id" class="form-control">
    <!-- Input for connection_id end -->
  </div>
  <!-- Label and input for connection_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create attendee
  </button>
</form>

<hr>

<a href="/attendees">
  Go back
</a>
