<form action="/create_connection" method="post" enctype="multipart/form-data">

  <input type="hidden" name="company_id" value="<%= @company.id %>">

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :address, @connection.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @connection.name %>">
  </div>

  <div class="form-group">
    <label for="linkein">
      Linkein
    </label>

    <input type="text" id="linkein" name="linkein" class="form-control" value="<%= @connection.linkein %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create connection
  </button>
</form>
