<!-- Validation failure messages -->
<% if @company.present? %>
  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new company
</h1>


<hr>

<!-- Form company start -->
<form action="/create_company" method="post">
<!-- Form company end -->

  <!-- Label and input for company start -->
  <div class="form-group">
    <label for="company">
      Company
    </label>

    <!-- Input for company start -->
    <input type="text" id="company" name="company" class="form-control" value="<%= @company.company %>">
    <!-- Input for company end -->
  </div>
  <!-- Label and input for company end -->

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control" value="<%= @company.location %>">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <button class="btn btn-block btn-outline-secondary">
    Create company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
