<form action="/create_attendee_from_meeting" method="post">

  <input type="hidden" name="meeting_id" value="<%= @meeting.id %>">

  <div class="form-group">
    <label for="connection_id">
      Connection
    </label>

    <%= select_tag(:connection_id, options_from_collection_for_select(Connection.all, :id, :company_id, @attendee.connection_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create attendee
  </button>
</form>
