<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Meetings

    <a data-toggle="collapse" href="#location_meetings_new_form">
      Add meeting
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.meetings.each do |meeting| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/meetings/<%= meeting.id %>">
          <%= meeting.id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_meeting_from_location/<%= meeting.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_meetings_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "location_templates/location_meetings_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
