<h1>
  Add a new location
</h1>


<hr>

<!-- Form location start -->
<form action="/create_location" method="post">
<!-- Form location end -->

  <!-- Label and input for address start -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <!-- Input for address start -->
    <input type="text" id="address" name="address" class="form-control">
    <!-- Input for address end -->
  </div>
  <!-- Label and input for address end -->

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
