<form action="/create_attendee_from_connection" method="post">

  <div class="form-group">
    <label for="meeting_id">
      Meeting
    </label>

    <%= select_tag(:meeting_id, options_from_collection_for_select(Meeting.all, :id, :id, @attendee.meeting_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="connection_id" value="<%= @connection.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create attendee
  </button>
</form>
