<h1>
  Add a new connection
</h1>


<hr>

<form action="/create_connection" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :company, @connection.company_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :address, @connection.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="linkein">
      Linkein
    </label>

    <input type="text" id="linkein" name="linkein" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create connection
  </button>
</form>

<hr>

<a href="/connections">
  Go back
</a>
